
img {
  display: block;
  margin: auto;
  width: 30%;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
}

h2:first-child {
  margin-top: 80px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-family: Georgia;
}
